.hide-section-g {
  overflow: hidden;
  opacity: 0;
  max-height: 0px;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
  overflow: hidden;
}

.show-section-g {
  opacity: 100;
  -webkit-transition: all 0.7s; /* Safari */
  max-height: 5000px;
  transition: all 0.7s;
}

.section-g-title:hover {
  border: 3px solid blue;
}
